<app-navbar-admin></app-navbar-admin>
<div class="container m-5">
    <div class="border border-light bg-light shadow-none bg-light rounded p-3 mb-5" style="width: 1500px;">
        <form class="m-5" (ngSubmit)="verLibros()" [formGroup]="forma">
            <input type="text" class="form-control" formControlName="isbn" placeholder="ISBN">
            <input type="text" class="form-control" formControlName="titulo" placeholder="Título">
            <input type="text" class="form-control" formControlName="subtitulo" placeholder="Subtítulo">
            <input type="text" class="form-control" formControlName="autor" placeholder="Autor">
            <input type="text" class="form-control" formControlName="editorial" placeholder="Editorial">


            <br><br>

            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        <br>
        <hr>
        <br>
        <table class="table" *ngIf="libros">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ISBN</th>
                    <th scope="col">Título</th>
                    <th scope="col">Subtítulo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let libro of libros">
                    <td> {{libro.isbn}} </td>
                    <td> {{libro.titulo}} </td>
                    <td> {{libro.subtitulo}} </td>
                    <td>
                        <button class="btn btn-info" [routerLink]="['/actualizar-libro', libro.isbn]">
                            <i class="fa fa-pen"></i>
                        </button>
                        <button class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>