<app-navbar-admin></app-navbar-admin>
<nav class="row m-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Nuevo usuario</li>
    </ol>
</nav>
<div class="container m-5">
    <div class="border border-light bg-light shadow-none bg-light rounded p-3 mb-5">
        <div class="m-5">
            <h1>Nuevo usuario</h1>
            <hr>
        </div>
        <form class="m-5" (ngSubmit)="guardarFormulario()" #f="ngForm">
            <div class="form-check mb-3">
                <input type="radio" [ngClass]="{'is-invalid': adminNoValido, '':!adminNoValido}" class="form-check-input" [(ngModel)]="usuario.admin" name="admin" value="true">
                <label class="form-check-label">Administrador</label><br>
                <input type="radio" [ngClass]="{'is-invalid': adminNoValido, '':!adminNoValido}" class="form-check-input" [(ngModel)]="usuario.admin" name="admin" value="false">
                <label class="form-check-label">Usuario</label>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">DNI</label>
                <input type="text" [ngClass]="{'is-invalid': dniNoValido, '':!dniNoValido}" class="form-control" [(ngModel)]="usuario.dni" name="dni">
                <small class="form-text text-muted">Este campo se usará como primer nombre de usuario</small>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.nombre" name="nombre">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Apellidos</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.apellidos" name="apellidos">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Fecha de Nacimiento</label>
                <input type="date" class="form-control" [(ngModel)]="usuario.fechaNacimiento" name="fechaNacimiento">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Dirección</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.direccion" name="direccion">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Telefono</label>
                <input type="tel" class="form-control" [(ngModel)]="usuario.telefono" name="telefono">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">E-mail</label>
                <input type="email" [ngClass]="{'is-invalid': emailNoValido, '':!emailNoValido}" class="form-control" [(ngModel)]="usuario.email" name="email">
                <small class="form-text text-muted">Este campo se usará como primera contraseña</small>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Crear nuevo usuario</button>
        </form>
    </div>
</div>