<app-navbar-admin></app-navbar-admin>
<nav class="row m-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/gestion-usuarios">Gestión de usuarios</a></li>
        <li class="breadcrumb-item active" aria-current="page">Actualizar usuario</li>
    </ol>
</nav>
<div class="container m-5">
    <div class="border border-light bg-light shadow-none bg-light rounded p-3 mb-5">
        <h1 class="m-5">Actualizar usuario</h1>
        <hr>
        <form class="m-5" (ngSubmit)="actualizarFormulario()" #f="ngForm">
            <div class="form-group mb-3">
                <label class="form-label">DNI</label>
                <input type="text" class="form-control" name="dni" [(ngModel)]="usuario.dni" disabled>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Tipo de Usuario</label>
                <select class="form-select" [(ngModel)]="usuario.admin" name="admin">
                    <option [value]="true">ADMINISTRADOR</option>
                    <option [value]="false">USUARIO</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" [(ngModel)]="usuario.nombre">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Apellidos</label>
                <input type="text" class="form-control" name="apellidos" [(ngModel)]="usuario.apellidos">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Fecha de Nacimiento</label>
                <input type="date" class="form-control" [(ngModel)]="usuario.fechaNacimiento" name="fechaNacimiento">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Dirección</label>
                <input type="text" class="form-control" name="direccion" [(ngModel)]="usuario.direccion">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Telefono</label>
                <input type="tel" class="form-control" name="telefono" [(ngModel)]="usuario.telefono">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">E-mail</label>
                <input type="email" [ngClass]="{'is-invalid': emailNoValido, '':!emailNoValido}" class="form-control" name="email" [(ngModel)]="usuario.email">
            </div>
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <button type="button" class="btn btn-danger m-5" (click)="resetear()">Resetear usuario y contraseña</button>
        </form>
    </div>
</div>