<app-navbar-user></app-navbar-user>
<nav class="row m-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Catálogo</li>
    </ol>
</nav>

<div class="m-5">
    <h1>Catálogo de libros</h1>
    <hr>
</div>
<div class="row m-5">
    <form (ngSubmit)="buscar()" #f="ngForm">
        <input type="text" class="form-control m-3" [(ngModel)]="isbn" name="isbn" placeholder="ISBN">
        <input type="text" class="form-control m-3" [(ngModel)]="titulo" name="titulo" placeholder="Título">
        <input type="text" class="form-control m-3" [(ngModel)]="subtitulo" name="subtitulo" placeholder="Subtítulo">
        <input type="text" class="form-control m-3" [(ngModel)]="autor" name="autor" placeholder="Autor">
        <input type="text" class="form-control m-3" [(ngModel)]="editorial" name="editorial" placeholder="Editorial">
        <select class="form-select  m-3" [(ngModel)]="categoria" name="categoria">
            <option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</option>
        </select>
        <br>
        <button type="submit" class="btn btn-primary m-3">Buscar</button>
        <br><br>
    </form>
    <hr>
    <br>
    <div class="alert alert-danger" *ngIf="click && libros.length==0" role="alert">
        Libro no encontrado.
    </div>
    <div class="row m-5">
        <div class="col-md-3 mb-5" *ngFor="let libro of libros; let i = index">
            <div class="m-5">
                <img (click)="onLibroClick(libro)" [src]="getImagen(libro)" alt="" class="img-fluid mb-2" [ngStyle]="{'cursor': 'pointer'}">
                <h5>{{libro.titulo}}</h5>
                <p *ngFor="let autor of libro.autores">{{autor.nombre}} {{autor.apellidos}}</p>
                <span>{{libro.fechaPublicacion | date:'d/M/yyyy'}}</span><br>
                <span class="badge badge-pill badge-secondary" *ngFor="let categoria of libro.categorias">{{categoria.categoria}}</span>
            </div>
        </div>
    </div>