<app-navbar-user></app-navbar-user>
<div class="m-5">
    <h1>Catálogo de libros</h1>
    <hr>
</div>
<div class="row m-5">
    <form class="form-inline" (ngSubmit)="buscar()" [formGroup]="forma">
        <div class="form-group">
            <input class="form-control form-control-lg" type="text" formControlName="busqueda" placeholder="Buscar...">
        </div>
        <button class="btn btn-primary" type="submit">Buscar</button>
    </form>
</div>
<hr>
<div class="row m-5">
    <div class="col-md-3 mb-5" *ngFor="let libro of libros">
        <img [src]="libro.volumeInfo.imageLinks?.thumbnail" alt="" class="img-fluid">
        <div>
            <h3>{{libro.volumeInfo.title}}</h3><br>
            <h4>{{libro.volumeInfo.subtitle}}</h4><br>
            <p>{{libro.volumeInfo.authors}}</p><br>
            <span>{{libro.searchInfo?.textSnippet}}</span>
        </div>
    </div>
</div>