<app-navbar-user></app-navbar-user>

<div class="m-5">
    <h1>Lista de libros en prestamo</h1>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Portada</th>
                <th>Fecha Préstamo</th>
                <th>Fecha Entrega</th>
                <th>Título</th>
                <th>Autor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let libro of libros">
                <td class="align-middle"><img [src]="getImagen(libro)" alt="" style="width: 25%;"></td>
                <td class="align-middle">{{libro.fechaPrestamo | date:'d/M/yy'}}</td>
                <td class="align-middle">{{libro.fechaEntrega | date:'d/M/yy'}}</td>
                <td class="align-middle">{{libro.titulo}}</td>
                <td class="align-middle">
                    <p *ngFor="let autor of libro.autores"> {{autor.nombre}} {{autor.apellidos}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<hr>
<br>
<div class="m-5">
    <h1>Lista de libros leídos</h1>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Portada</th>
                <th>Fecha Lectura</th>
                <th>Título</th>
                <th>Autor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="">
                <td><img [src]="" alt=""></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>