<app-navbar-admin></app-navbar-admin>

<div class="container m-5">
    <div class="border border-light bg-light shadow-none bg-light rounded p-3 mb-5" style="width: 1500px;">
        <form class="m-5" (ngSubmit)="buscarPrestamos()" [formGroup]="forma">
            <input type="text" class="form-control" formControlName="dni" placeholder="Dni">
            <br><br>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        <br>
        <hr>
        <br>
        <table class="table" *ngIf="prestamos">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">DNI</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Fecha Prestamo</th>
                    <th scope="col">Fecha Entrega</th>
                </tr>
            </thead>
            <tbody>
                <tr [ngStyle]="{'background-color': hoy > prestamo.fechaEntrega  ? '#CD5C5C' : ''}" *ngFor="let prestamo of prestamos">
                    <td> {{prestamo.dni}} </td>
                    <td> {{prestamo.isbn}} </td>
                    <td> {{prestamo.fechaPrestamo | date:'d/M/yy'}} </td>
                    <td> {{prestamo.fechaEntrega | date:'d/M/yy'}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- <router-outlet></router-outlet> -->