<app-navbar-admin></app-navbar-admin>

<div class="container m-5">
    <div class="border border-light bg-light shadow-none bg-light rounded p-3 mb-5">
        <div class="m-5">
            <h1>Administrar devoluciones</h1>
            <hr>
        </div>
        <form class="m-5" (ngSubmit)="buscarPrestamos()" #f="ngForm">
            <input type="text" class="form-control" [(ngModel)]="dni" name="dni" placeholder="Dni">
            <br><br>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        <div class="m-5">
            <hr>
            <br>
            <table class="table" *ngIf="prestamos">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">DNI</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Fecha Prestamo</th>
                        <th scope="col">Fecha Entrega</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [ngStyle]="{'background-color': prestamo.fechaInvalida  ? '#CD5C5C' : ''}" *ngFor="let prestamo of prestamos">
                        <td> <a> {{prestamo.dni}} </a> </td>
                        <td> <a> {{prestamo.nombre}} </a> </td>
                        <td> <a> {{prestamo.apellidos}} </a> </td>
                        <td> <a> {{prestamo.isbn}} </a> </td>
                        <td> <a> {{prestamo.titulo}} </a> </td>
                        <td> {{prestamo.fechaPrestamo | date:'d/M/yy'}} </td>
                        <td> {{prestamo.fechaEntrega | date:'d/M/yy'}} </td>
                        <td>
                            <button class="btn btn-primary" (click)="devolverLibro(prestamo)">Devolver</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>