<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Autores</h4>
                <button type="button" class="btn btn-light" data-dismiss="modal"> <i class="fa fa-times" style="color: gray;"></i> </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form class="m-5" (ngSubmit)="buscarAutor()" [formGroup]="formaAutores">
                    <div class="form-group mb-3">
                        <label class="form-label">Nombre: </label>
                        <input type="text" class="form-control" formControlName="nombre">
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Apellidos: </label>
                        <input type="text" class="form-control" formControlName="apellidos">
                    </div>
                    <button type="submit" class="btn btn-primary m-3">Buscar</button>
                    <button type="button" class="btn btn-primary" (click)="insertarAutor()">Añadir</button>
                    <br><br>
                    <div class="alert alert-danger" *ngIf="noAutores" role="alert">
                        No existe el autor.
                    </div>
                    <div class="list-group" *ngIf="listaAutores">
                        <div *ngFor="let autor of listaAutores">
                            <a class="list-group-item list-group-item-action" style="float: left; width: 85%;" (click)="insertarAutorLibro(autor.id_autor)">
                                {{autor.nombre}} {{autor.apellidos}}
                             </a>
                            <button class="btn btn-danger" style="float: right; width: 15%;" (click)="borrarAutor(autor.id_autor)">
                                 <i class="fa fa-trash"></i>
                             </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>