<app-navbar-admin></app-navbar-admin>
<div class="container m-5">
    <div class="border border-light bg-light shadow-none p-3 mb-5 bg-light rounded" style="width: 1000px;">
        <h1 class="text-center m-5">Nuevo libro</h1>
        <hr>
        <form class="m-5" (ngSubmit)="guardarFormulario()" [formGroup]="forma">
            <div class="form-group mb-3">
                <label class="form-label">ISBN</label>
                <input type="text" class="form-control" formControlName="isbn">
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Título</label>
                <input type="text" class="form-control" formControlName="titulo">
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Subtítulo</label>
                <input type="text" class="form-control" formControlName="subtitulo">
            </div>

            <div class="form-group mb-3">
                <label class="form-label m-3">Lista de Autores</label>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-sm fa-plus"></i>
                </button>
                <br>
                <table *ngIf="nombre_autores_libro" class="table">
                    <tbody>
                        <tr *ngFor="let nombre of nombre_autores_libro">
                            <th>{{nombre}}</th>
                            <th>
                                <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Fecha de Publicación</label>
                <input type="date" class="form-control" formControlName="fechaPublicacion">
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Editorial</label>
                <input type="text" class="form-control" formControlName="editorial">
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Páginas</label>
                <input type="number" class="form-control" formControlName="nPaginas">
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Descipción</label>
                <textarea class="form-control" formControlName="descripcion" cols="30" rows="10" maxlength="500"></textarea>
            </div>

            <div class="form-group xmb-3">
                <label class="form-label m-3">Categorías</label>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal2">
                    <i class="fa fa-sm fa-plus"></i>
                </button>
            </div>
            <table *ngIf="nombre_categorias_libro" class="table">
                <tbody>
                    <tr *ngFor="let categoria of nombre_categorias_libro">
                        <th>{{categoria}}</th>
                        <th>
                            <button class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                        </th>
                    </tr>
                </tbody>
            </table>

            <div class="form-group mb-3">
                <label class="form-label">Link de Imágen</label>
                <input type="text" class="form-control" formControlName="imagen">
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Stock</label>
                <input type="number" class="form-control" formControlName="stock">
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Autores</h4>
                <button type="button" class="btn btn-light" data-dismiss="modal"> <i class="fa fa-times" style="color: gray;"></i> </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form class="m-5" (ngSubmit)="buscarAutor()" [formGroup]="formaAutores">
                    <div class="form-group mb-3">
                        <label class="form-label">Nombre: </label>
                        <input type="text" class="form-control" formControlName="nombre">
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Apellidos: </label>
                        <input type="text" class="form-control" formControlName="apellidos">
                    </div>
                    <button type="submit" class="btn btn-primary m-3">Buscar</button>
                    <button type="button" class="btn btn-primary" (click)="insertarAutor()">Añadir</button>
                    <br><br>
                    <div class="list-group" *ngIf="autores">
                        <a class="list-group-item list-group-item-action" *ngFor="let autor of autores" (click)="addAutorLibro(autor.id_autor)">
                           {{autor.nombre}} {{autor.apellidos}}
                        </a>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="myModal2">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Categorías</h4>
                <button type="button" class="btn btn-light" data-dismiss="modal"> <i class="fa fa-times" style="color: gray;"></i> </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form class="m-5" [formGroup]="formaCategorias">
                    <div class="form-group mb-3">
                        <label class="form-label">Categoría: </label>
                        <input type="text" class="form-control" formControlName="categoria">
                    </div>
                    <button type="button" class="btn btn-primary" (click)="insertarCategoria()">Añadir</button>
                    <br><br>
                    <div class="list-group" *ngIf="categorias">
                        <a class="list-group-item list-group-item-action" *ngFor="let categoria of categorias" (click)="addCategoriaLibro(categoria.id_categoria)">
                           {{categoria.categoria}}
                        </a>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>