<app-navbar-admin></app-navbar-admin>
<div class="container m-5">
    <div class="border border-light bg-light shadow-none p-3 mb-5 bg-light rounded" style="width: 1000px;">
        <h1 class="text-center m-5">Nuevo libro</h1>
        <hr>
        <form class="m-5" (ngSubmit)="guardarFormulario()" [formGroup]="forma">
            <div class="form-group mb-3">
                <label class="form-label">ISBN</label>
                <input type="text" class="form-control" formControlName="isbn">
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Título</label>
                <input type="text" class="form-control" formControlName="titulo">
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Subtítulo</label>
                <input type="text" class="form-control" formControlName="subtitulo">
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Autores</label>
                <button class="btn btn-secondary">
                    <i class="fa fa-plus"></i>
                </button>
                <br>
                <table class="table">
                    <tbody>
                        <tr>
                            <th> - </th>
                            <th>
                                <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Fecha de Publicación</label>
                <input type="date" class="form-control" formControlName="fechaPublicacion">
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Editorial</label>
                <input type="text" class="form-control" formControlName="editorial">
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Páginas</label>
                <input type="number" class="form-control" formControlName="nPaginas">
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Descipción</label>
                <textarea class="form-control" formControlName="descripcion" cols="30" rows="10"></textarea>
            </div>

            <div class="form-group xmb-3">
                <label class="form-label">Categorías</label>
                <select class="form-control form-select" formControlName="categoria">
                    <option *ngFor="let categoria of categorias" >{{categoria.categoria}}</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Link de Imágen</label>
                <input type="text" class="form-control" formControlName="imagen">
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Stock</label>
                <input type="number" class="form-control" formControlName="stock">
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>