<div class="modal" id="myModal3">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Aviso</h4>
                <button type="button" class="btn btn-light" data-dismiss="modal"> <i class="fa fa-times" style="color: gray;"></i> </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>{{mensaje}}</p>
            </div>

        </div>
    </div>
</div>