<div class="container m-5">
    <div class="position-absolute top-50 start-50 translate-middle border border-light bg-light shadow-none p-3 mb-5 bg-light rounded" style="width: 500px;">
        <img class="img-fluid mx-auto d-block" src="./assets/logo_biblioastur.png" alt="Logo BiblioAstur">
        <form class="m-3" (ngSubmit)="comprobar()" #f="ngForm">
            <div class="mb-3">
                <label class="form-label">Usuario</label>
                <input type="text" class="form-control" [(ngModel)]="user" name="user">
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" [(ngModel)]="pass" name="pass">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button><br>
        </form>
    </div>
</div>