<div class="container m-5">
    <div class="position-absolute top-50 start-50 translate-middle border border-light bg-light shadow-none p-3 mb-5 bg-light rounded" style="width: 500px;">
        <h1 class="text-center m-5">BiblioAstur</h1>
        <form class="m-5" [formGroup]="forma" (ngSubmit)="comprobar()">
            <div class="mb-3">
                <label class="form-label">Usuario</label>
                <input type="text" class="form-control" formControlName="usuario" [class.is-invalid]="usuarioNoValido">
                <span class="text-danger" *ngIf="usuarioNoValido">No exite ese usuario</span>
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" formControlName="password" [class.is-invalid]="passwordNoValido">
                <span class="text-danger" *ngIf="passwordNoValido">Contraseña incorrecta</span>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button><br>
        </form>
    </div>
</div>