body {
    background-color: #eee;
}

.badge-pill {
    background-color: darkslategrey;
    border-radius: 20px;
}

.badge-secondary {
    background-color: darkgray;
    border-radius: 20px;
}

.fa {
    color: white;
}

.stats {
    background-color: white;
}

.user-icon {
    color: gray;
}