<app-navbar-admin></app-navbar-admin>
<div class="container m-5">
    <div class="border border-light bg-light shadow-none bg-light rounded p-3 mb-5">
        <div class="m-5">
            <h1>Gestión de usuarios</h1>
            <hr>
        </div>
        <form class="m-5" (ngSubmit)="verUsuario()" [formGroup]="forma">
            <input type="text" class="form-control" formControlName="dni" placeholder="Dni">
            <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
            <input type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos">
            <div class="form-check">
                <input type="radio" class="form-check-input" formControlName="admin" value="99">
                <label class="form-check-label">Todos</label><br>
                <input type="radio" class="form-check-input" formControlName="admin" value="1">
                <label class="form-check-label">Administradores</label><br>
                <input type="radio" class="form-check-input" formControlName="admin" value="0">
                <label class="form-check-label">Usuarios</label>
                <!-- <input class="form-check-input" type="radio" id="rbIndividual" name="rbIndividual" [(ngModel)]="model.individual" value="S"> -->
            </div>
            <br><br>

            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        <br>
        <hr>
        <br>
        <table class="table" *ngIf="usuarios">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">E-mail</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td> {{usuario.nombre}} </td>
                    <td> {{usuario.apellidos}} </td>
                    <td> {{usuario.dni}} </td>
                    <td> {{usuario.direccion}} </td>
                    <td> {{usuario.telefono}} </td>
                    <td> {{usuario.email}} </td>
                    <td>
                        <button class="btn btn-info" [routerLink]="['/actualizar', usuario.dni]">
                            <i class="fa fa-pen"></i>
                        </button>
                        <button (click)="borrarUsuario(usuario.dni)" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>