<app-navbar-admin></app-navbar-admin>
<div class="container m-5">
    <div class="border border-light bg-light shadow-none bg-light rounded p-3 mb-5" style="width: 1500px;">
        <form class="m-5 row" (ngSubmit)="verUsuario()" [formGroup]="formaUsu">
            <input type="text" class="form-control col" formControlName="dni" placeholder="Dni">
            <button type="submit" class="btn btn-primary col">Buscar</button>
        </form>
        <br>
        <hr>
        <br>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">E-mail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> - </td>
                    <td> - </td>
                    <td> - </td>
                    <td> - </td>
                    <td> - </td>
                    <td> - </td>
                    <td>
                        <button class="btn btn-info">
                            <i class="fa fa-pen"></i>
                        </button>
                        <button class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>