<app-navbar-admin></app-navbar-admin>
<nav class="row m-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/gestion-libros">Gestión de Libros</a></li>
        <li class="breadcrumb-item active" aria-current="page">Prestamo - {{libro.titulo}}</li>
    </ol>
</nav>
<div class="container m-5">
    <div class="border border-light bg-light shadow-none bg-light rounded p-3 mb-5" style="width: 1500px;">
        <div class="m-5">
            <h1>Prestamo - <i>{{libro.titulo}}</i></h1>
            <br>
            <h2>Buscar usuario: </h2>
            <hr>
        </div>
        <form class="m-5" (ngSubmit)="buscarUsuario()" #f="ngForm">
            <input type="text" class="form-control m-3" [(ngModel)]="dni" name="dni" placeholder="Dni">
            <input type="text" class="form-control m-3" [(ngModel)]="nombre" name="nombre" placeholder="Nombre">
            <input type="text" class="form-control m-3" [(ngModel)]="apellidos" name="apellidos" placeholder="Apellidos">
            <br>
            <button type="submit" class="btn btn-primary m-3">Buscar</button>
        </form>
        <div class="m-5">
            <hr>
            <br>
            <table class="table" *ngIf="usuarios">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">DNI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <td> {{usuario.nombre}} </td>
                        <td> {{usuario.apellidos}} </td>
                        <td> {{usuario.dni}} </td>
                        <td>
                            <button class="btn btn-success">
                                <i class="fa fa-check" (click)="prestar(usuario.dni)" title="Prestar libro"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>